html {
    background-color: grey;
}

.homepage {
    background: url(images/background.jpg);
    background-position: center center; 
    height: 100vh;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    color: white;
}

.navbar {
    font-size: 1.3rem;
    margin-bottom: 10rem;
    background-color:rgb(254, 248, 243);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-span {
    color: rgb(254, 114, 0);
    font-size: 2.2rem;
}

.icon {
    margin-left: 5px;
}

.cart {
    position: relative;
}

.cartAmount {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    width: 25px;
    background-color: rgb(254, 114, 0);
    color: white;
    padding: 3px;
    border-radius: 5px;
}

h3 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 4rem;
    
    margin-bottom: 50px;
}

.home {
    background-color:rgba(254, 248, 243, 0.5);
    padding: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 2rem;
    color: black;
    border-bottom: 2px solid orange;
}

.card {
    border: none;
    margin-bottom: 30px;
    height: 100%;
}

.card-title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-img-top {
    max-width: 100%;
    object-fit: cover;
}

.hidden {
    visibility: hidden;
}

.hiddenStyle {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

.loadMoreBtn {
    text-align: center;
    margin-bottom: 3rem;
}

#addButton {
    margin-bottom: 10;
}

footer {
    text-align: justify;
    background: grey;
    padding: 100px 0 0 0;
    clip-path: polygon(0 30px, 100% 0, 100% 105%, 0 105%);
}
